body {
    font-family: 'Lato';
    width: 1922px;
}

header {
    background-color: rgba(229, 84, 115, 0.10);
    width: 1700px;
    height: 850px;
}

.banner {
    padding: 50px 240px 147px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 635px;
    height: 800px;
    background-position: bottom left;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 43px;
    margin-top: 32px;
}

.banner-greeting {
    display: flex;
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    width: 634px;
    text-align: left;
    font-size: 18px;
    margin-top: 32px;
}
}

/* main section styles */

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 128px 400px 24px;
}

#flower {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 128px 675px 24px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    width: 594px;
    font-size: 18px;
    margin: 24px 550px 48px;
}

.featured-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 1200px;
    margin: 48px 100px 32px;
}

.pink {
    padding: 110px 78px 0px 76px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
}

.paste {
    padding: 110px 78px 0px 76px;
    margin-bottom: 0px;
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
}

.green {
    padding: 110px 78px 0px 76px;
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
}

.caption {
    color: #272727;
    font-size: 24px;
    justify-content: space-between;
    gap: 307px;
}

.caption1{
    margin: 0px 200px 128px;
    text-align: center;
}

.caption2{
    margin: 0px 200px 128px;
    text-align: center;
}

.caption3{
    margin: 0px 200px 128px;
    text-align: center;
}


.service-container {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    text-align: center;
    gap: 175px;
    width: 1075px;
    height: 320px;
    margin: 128px 140px;
    padding: 86px 175px;
}

#package{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 128px 700px 24px;
}

.package-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    margin: 48px 140px 80px;
    gap: 24px;
}

.event-caption {
    color: #272727;
    font-size: 24px;
    justify-content: space-between;
    gap: 307px;
}

.event1{
    margin: 0px 230px 128px;
    text-align: center;
}

.event2{
    margin: 0px 230px 128px;
    text-align: center;
}

.event3{
    margin: 0px 230px 128px;
    text-align: center;
}

#instagram {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 128px 750px 24px;
}

.instagram-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    margin: 48px 140px 128px;
    gap: 24px;
}

.banner2 {
    background-color: rgba(229, 84, 115, 0.10);
    width: 1700px;
    height: 620px;
    display: flex;
    margin: 128px 0px;
}

.banner-greeting2 {
    display: flex;
    width: 708px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 150px 215px 24px 200px;
}

.banner-description2 {
    color: rgba(39, 39, 39, 0.60);
    width: 634px;
    text-align: left;
    font-size: 18px;
    padding: 0px 186px 32px 150px;
}

#btn-sign {
    display: inline-flex;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 20px;
    padding: 20px 43px;
    margin-left: 350px;
    border: 0px;
}

.profile-pic2 {
    width: 318px;
    height: 420px;
    padding: 100px 429px 100px 0px;
}

.offer {
    text-align: center;
    width: 1440px;
    height: 400px;
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    justify-content: center;
    margin: 128px 140px;
}

.deal {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
}

.btn {
    display: inline-flex;
    gap: 10px;
}

#mail {
    width: 550px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    padding-left: 22px;
}

.btn-sub {
    display: inline-flex;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 20px;
    padding: 20px 43px;
    margin-bottom: 121px;
    border: 0px;
}

footer {
    background-color: #111010;
    text-align: center;
    width: 1700px;
    height: 449px;
    margin-top: 128px;
}

#shop {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    padding: 60px 700px 18px;
}

.text-pink {
    color: #E55473;
}

.banner-description3 {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 630px 32px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
}
